<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <form [formGroup]="profileForm">
        <div class="form-group">
          <label>
            Password:
          </label>
          <input
            class="form-control"
            type="password"
            formControlName="password"
          />
        </div>
        <button class="btn btn-primary btn-block" (click)="login()">
          Login
        </button>
      </form>
    </div>
    <div *ngFor="">
      <app-child-a></app-child-a>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
